.page-height {
  height: 100vh;
}

.website-header {
  text-align: center;
  font-size: 60px;
  color: #f4b510;
  padding: 80px 0 80px 0;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 700;
}

.h6 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
}

.secondpicture {
  max-width: 670px;
  max-height: 650px;
  object-fit: contain;
}

.secondpagetext {
  text-align: center;
}

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

@media screen and (max-width: 2000px) {
  .secondpicture {
    max-width: 520px;
    max-height: 520px;
  }
  .h6 {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 1700px) {
  .secondpicture {
    max-width: 480px;
    max-height: 480px;
  }
  .h5 {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 1400px) {
  .secondpicture {
    max-width: 450px;
    max-height: 450px;
  }
  .h6 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .website-header {
    color: #f4b510;
    padding-top: 75px;
  }
}

@media screen and (max-width: 1100px) {
  .secondpicture {
    max-width: 380px;
    height: 380px;
  }
  .h6 {
    font-size: 25px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 900px) {
  .second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondpicture {
    max-width: 300px;
    max-height: 300px;
  }
  .h6 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .website-header {
    color: #f4b510;
    padding: 70px 0 30px 0;
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .secondpicture {
    max-width: 280px;
    max-height: 280px;
  }
  .h6 {
    font-size: 15px;
    letter-spacing: 3px;
    margin: 40px 4px 20px 4px;
  }
  .website-header {
    padding-top: 70px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .secondpicture {
    max-width: 270px;
    max-height: 270px;
  }
  .website-header {
    font-size: 30px;
  }
  .h6 {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 20px 0;
  }
}
