.page-height-special {
  height: 100vh;
}

.eighth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 55vh;
}

.header-eighth {
  text-align: center;
  font-size: 50px;
  color: #f4b510;
  margin: 0;
  letter-spacing: 3px;
  padding: 70px 0 0 0;
  font-weight: 700;
}

.passion {
  width: 420px;
  object-fit: contain;
  border-radius: 5px;
}

.needs {
  width: 420px;
  object-fit: contain;
  border-radius: 5px;
}

.quickly {
  width: 420px;
  object-fit: contain;
  border-radius: 5px;
}

.eighth-page-display {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 2000px) {
  .passion {
    width: 350px;
    object-fit: contain;
    border-radius: 5px;
  }

  .needs {
    width: 350px;
    object-fit: contain;
    border-radius: 5px;
  }

  .quickly {
    width: 350px;
    object-fit: contain;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1400px) {
  .passion {
    width: 300px;
    object-fit: contain;
    border-radius: 5px;
  }

  .needs {
    width: 300px;
    object-fit: contain;
    border-radius: 5px;
  }

  .quickly {
    width: 300px;
    object-fit: contain;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .passion {
    width: 280px;
    object-fit: contain;
    border-radius: 5px;
  }

  .needs {
    width: 280px;
    object-fit: contain;
    border-radius: 5px;
  }

  .quickly {
    width: 280px;
    object-fit: contain;
    border-radius: 5px;
  }
  .header-eighth {
    font-size: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .passion {
    width: 270px;
    object-fit: contain;
    border-radius: 5px;
  }

  .needs {
    width: 270px;
    object-fit: contain;
    border-radius: 5px;
  }

  .quickly {
    width: 270px;
    object-fit: contain;
    border-radius: 5px;
  }
  .header-eighth {
    font-size: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .passion {
    width: 250px;
    object-fit: contain;
    border-radius: 5px;
  }

  .needs {
    width: 250px;
    object-fit: contain;
    border-radius: 5px;
  }

  .quickly {
    width: 250px;
    object-fit: contain;
    border-radius: 5px;
  }
  .header-eighth {
    font-size: 35px;
  }
}

@media screen and (max-width: 900px) {
  .eighth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
  }
  .passion {
    width: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .needs {
    width: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .quickly {
    width: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .header-eighth {
    font-size: 25px;
  }
  .page-height-special {
    height: 160vh;
  }
}

@media screen and (max-width: 600px) {
  .passion {
    width: 175px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .needs {
    width: 175px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .quickly {
    width: 175px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .header-eighth {
    font-size: 25px;
    padding: 70px 0 20px 0;
  }
  .page-height-special {
    height: 160vh;
  }
}
