.slide-page-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.button-slide {
  font-size: 50px;
  height: auto;
  width: auto;
  display: flex;
  margin: 0 10px;
  background-color: #3dd816;
  border: none;
  color: black;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}

.slide-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-image {
  width: 680px;
  object-fit: contain;
  border-radius: 5px;
}

.header-slide {
  text-align: center;
  font-size: 60px;
  color: #f4b510;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 70px 0 10px 0;
}

.subtitle-slide {
  font-size: 30px;
  font-weight: 700;
}

.message-slide {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 2000px) {
  .slide-image {
    width: 450px;
  }
  .button-slide {
    font-size: 30px;
    margin: 10px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 1500px) {
  .slide-image {
    width: 390px;
  }
  .header-slide {
    font-size: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .slide-image {
    width: 330px;
  }
  .header-slide {
    font-size: 40px;
  }
  .subtitle-slide {
    font-size: 25px;
  }

  .message-slide {
    font-size: 15px;
  }
  .button-slide {
    font-size: 25px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 500px) {
  .slide-image {
    width: 270px;
  }
  .header-slide {
    font-size: 30px;
    padding: 50px 0 10px 0;
  }
  .subtitle-slide {
    font-size: 20px;
  }

  .message-slide {
    font-size: 15px;
  }
  .button-slide {
    font-size: 20px;
    margin: 0 3px;
  }
}
