.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-contact > form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contact-p {
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
}

.container-contact > input[type="text"],
select {
  width: 40%;
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-contact > input[type="email"],
select {
  width: 40%;
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-contact > input[type="tel"],
select {
  width: 40%;
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-contact > button {
  width: 40%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-contact > input[type="submit"]:hover {
  background-color: #45a049;
}

.container-contact > label {
  text-align: flex-start;
}

.contact-message {
  width: 40%;
  height: 120px;
  font-size: 17px;
}

label {
  display: inline-block;
  width: 40%;
  text-align: left;
}

.header-contact {
  font-size: 40px;
  margin: 30px 0;
  font-weight: 700;
}

.submited:disabled {
  background: #e9e8e6;
  color: black;
  font-weight: 700;
  cursor: no-drop;
}

@media screen and (max-width: 1800px) {
  .container-contact > input[type="text"],
  select {
    padding: 10px 12px;
    width: 35%;
  }

  .container-contact > input[type="email"],
  select {
    padding: 10px 12px;
    width: 35%;
  }

  .container-contact > input[type="tel"],
  select {
    padding: 10px 12px;
    width: 35%;
  }

  .container-contact > button {
    width: 35%;
    padding: 10px 14px;
  }

  label {
    display: inline-block;
    width: 35%;
    text-align: left;
  }
  .contact-message {
    width: 35%;
  }
  .header-contact {
    font-size: 35%;
    margin: 50px 0 10px 0;
  }
  .contact-message {
    height: 60px;
  }
  .contact-p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1600px) {
  .container-contact > input[type="text"],
  select {
    padding: 7px 9px;
    width: 30%;
  }

  .container-contact > input[type="email"],
  select {
    padding: 7px 9px;
    width: 30%;
  }

  .container-contact > input[type="tel"],
  select {
    padding: 7px 9px;
    width: 30%;
  }

  .container-contact > button {
    width: 30%;
    padding: 6px 10px;
  }

  label {
    display: inline-block;
    width: 30%;
    text-align: left;
  }
  .contact-message {
    width: 30%;
  }
  .header-contact {
    font-size: 25px;
    margin: 100px 0 10px 0;
  }
  .contact-message {
    height: 40px;
  }
  .contact-p {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .container-contact > input[type="text"],
  select {
    width: 45%;
  }

  .container-contact > input[type="email"],
  select {
    width: 45%;
  }

  .container-contact > input[type="tel"],
  select {
    width: 45%;
  }

  .container-contact > button {
    width: 45%;
  }
  label {
    display: inline-block;
    width: 45%;
    text-align: left;
  }
  .contact-message {
    width: 45%;
  }
  .header-contact {
    font-size: 25px;
  }
  .contact-p {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .container-contact span {
    font-size: 12.5px;
    font-weight: 600;
  }
  .contact-message {
    width: 60%;
    font-size: 11px;
  }
  .header-contact {
    font-size: 25px;
    margin: 30px 0 10px 0;
  }
  .contact-p {
    font-size: 15px;
  }
  .container-contact > input[type="text"],
  select {
    width: 60%;
  }

  .container-contact > input[type="email"],
  select {
    width: 60%;
  }

  .container-contact > input[type="tel"],
  select {
    width: 60%;
  }

  .container-contact > button {
    width: 60%;
  }
  label {
    display: inline-block;
    width: 60%;
    text-align: left;
  }
  .contact-message {
    width: 60%;
  }
}
