.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-contact > form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.contact-p {
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
}

.container-contact > input[type="text"],
select {
  width: 30%;
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-contact > input[type="submit"] {
  width: 30%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-contact > input[type="submit"]:hover {
  background-color: #45a049;
}

.container-contact > label {
  text-align: flex-start;
}

.contact-message {
  width: 30%;
  height: 120px;
  font-size: 17px;
}

label {
  display: inline-block;
  width: 30%;
  text-align: left;
}

.header-contact {
  font-size: 40px;
  margin: 30px 0;
  font-weight: 700;
}

@media screen and (max-width: 1400px) {
  .container-contact > input[type="text"],
  select {
    padding: 7px 9px;
    width: 40%;
  }

  .container-contact > input[type="submit"] {
    width: 40%;
    padding: 6px 10px;
  }

  label {
    display: inline-block;
    width: 40%;
    text-align: left;
  }
  .contact-message {
    width: 40%;
  }
  .header-contact {
    font-size: 30px;
    margin: 40px 0 10px 0;
  }
  .contact-message {
    height: 40px;
  }
  .contact-p {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .container-contact > input[type="text"],
  select {
    width: 55%;
  }

  .container-contact > input[type="submit"] {
    width: 55%;
  }
  label {
    display: inline-block;
    width: 55%;
    text-align: left;
  }
  .contact-message {
    width: 55%;
  }
  .header-contact {
    font-size: 22px;
  }
  .contact-p {
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .container-contact span {
    font-size: 12.5px;
    font-weight: 600;
  }
  .contact-message {
    width: 55%;
    font-size: 12px;
  }
  .header-contact {
    font-size: 18px;
    margin: 40px 0 10px 0;
  }
  .contact-p {
    font-size: 10px;
  }
}
