.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 40px;
  letter-spacing: 3px;
}

h2 {
  font-size: 60px;
  letter-spacing: 3px;
}

.remove-format-footer-home {
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .profilepic {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  h2 {
    font-size: 50px;
    letter-spacing: 3px;
  }
  h3 {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profilepic {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }
  h3 {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profilepic {
    width: 270px;
    height: 270px;
    object-fit: contain;
  }
}

@media screen and (max-width: 350px) {
  h2 {
    font-size: 30px;
  }
  .remove-format-footer-home {
    color: white;
    font-size: 30px;
  }
}
