.page-height {
  height: 100vh;
}

.fifth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  height: 80%;
}

.first2-fifth {
  display: flex;
}

.second2-fifth {
  display: flex;
}

.test {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 70px;
}

.search {
  width: 360px;
  height: auto;
  object-fit: contain;
}

.figma {
  width: 360px;
  height: auto;
  object-fit: contain;
}

.laptop {
  width: 360px;
  height: auto;
  object-fit: contain;
}

.release {
  width: 360px;
  object-fit: contain;
}

.header-fifth {
  text-align: center;
  font-size: 50px;
  color: #f4b510;
  padding: 30px 0;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 700;
}

.h9 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  margin: 10px 0;
}

@media screen and (max-width: 3000px) {
  .search {
    width: 360px;
  }

  .figma {
    width: 360px;
  }

  .laptop {
    width: 360px;
  }

  .release {
    width: 360px;
  }

  .fifth-container {
    height: 65%;
  }
  .header-fifth {
    font-size: 50px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 2000px) {
  .search {
    width: 300px;
  }

  .figma {
    width: 300px;
  }

  .laptop {
    width: 300px;
  }

  .release {
    width: 300px;
  }

  .header-fifth {
    font-size: 45px;
    padding-top: 70px;
  }
  .h9 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1600px) {
  .search {
    width: 260px;
  }

  .figma {
    width: 260px;
  }

  .laptop {
    width: 260px;
  }

  .release {
    width: 260px;
  }

  .header-fifth {
    font-size: 45px;
    padding-top: 70px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 900px) {
  .search {
    width: 250px;
  }

  .figma {
    width: 250px;
  }

  .laptop {
    width: 250px;
  }

  .release {
    width: 250px;
  }
  .h9 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .header-fifth {
    font-size: 40px;
  }
  .test {
    margin: 0 35px;
  }
}

@media screen and (max-width: 700px) {
  .search {
    width: 120px;
  }

  .figma {
    width: 120px;
  }

  .laptop {
    width: 120px;
  }

  .release {
    width: 120px;
  }
  .h9 {
    font-size: 14px;
  }

  .first2-fifth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second2-fifth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-fifth {
    font-size: 25px;
    padding: 65px 0 10px 0;
  }
  .fifth-container {
    height: 80%;
  }
  .test {
    margin: 0;
    align-items: center;
  }
  .fifth-container {
    justify-content: center;
    margin-top: -20px;
  }
}
