h4 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 0%;
}

h5 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 0%;
}

.secondpicture {
  width: 550px;
  height: 550px;
  object-fit: contain;
}

.secondpagetext {
  text-align: center;
}
