.footer {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first-column-list {
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  margin-right: 10px;
  color: rgba(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  margin: 16px 7px 15px 0;
  transition: all 0.4s;
}

.nav-link:hover {
  color: rgba(0, 183, 255);
}

p {
  font-size: 16px;
  margin-right: 5px;
  color: rgba(255, 255, 255);
  font-weight: 700;
}

.all-rights {
  font-size: 16px;
  color: rgba(255, 255, 255);
  font-weight: 500;
}

.logo {
  max-width: 100px;
  max-height: auto;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 5px;
}

.email,
.mobile {
  object-fit: contain;
  border-radius: 5px;
  margin-right: 10px;
}

.whats,
.linkedin,
.github {
  object-fit: contain;
  border-radius: 5px;
  margin-right: 10px;
}

.footer-text-color {
  color: rgba(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.email-display,
.mobile-display {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 16px;
}

.email-display p,
.mobile-display p {
  margin-top: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 3000px) {
  .footer {
    height: 20vh;
  }
  p {
    font-size: 20px;
  }

  .all-rights {
    font-size: 20px;
  }
  .email,
  .mobile {
    max-width: 40px;
  }

  .whats,
  .linkedin,
  .github {
    max-width: 40px;
  }
}

@media screen and (max-width: 1800px) {
  .footer {
    height: 25vh;
  }
  p {
    font-size: 16px;
  }
  .all-rights {
    font-size: 16px;
  }
  .email,
  .mobile {
    max-width: 30px;
  }
  .whats,
  .linkedin,
  .github {
    max-width: 30px;
  }
  .email-display p,
  .mobile-display p {
    margin-top: 0;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 1250px) {
  p {
    font-size: 14px;
  }
  .nav-link {
    font-size: 14px;
  }

  .all-rights {
    font-size: 14px;
  }
  .email,
  .mobile {
    max-width: 30px;
  }

  .whats,
  .linkedin,
  .github {
    max-width: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .first-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-column,
  .third-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    height: 75vh;
  }
  .third-column :nth-last-child(2) {
    margin: 10px 5px;
  }
  .first-column-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    margin: 5px 0;
  }

  .footer p {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .email-display,
  .mobile-display {
    margin-top: 10px;
  }
}
