.footer-height {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 24vh;
}

.footer {
  background-color: rgb(12, 11, 11);
  width: 78%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-bottom: 30px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo {
  width: 300px;
  object-fit: contain;
}

.mobile,
.whats,
.linkedin,
.github {
  width: 60px;
  object-fit: contain;
  border-radius: 5px;
}

.footer-first-column {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.footer-second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-last-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-first2,
.footer-second2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.remove-format-footer {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width: 2000px) {
  .logo {
    width: 220px;
  }
  .mobile,
  .whats,
  .linkedin,
  .github {
    width: 40px;
  }
  .remove-format-footer {
    font-size: 20px;
  }
}

@media screen and (max-width: 1600px) {
  .footer-last-column > p {
    font-size: 16px;
    margin: 10px 0;
  }
  .footer-second-column > p {
    font-size: 16px;
  }
  .logo {
    width: 190px;
  }

  .remove-format-footer {
    font-size: 16px;
  }
  .mobile,
  .whats,
  .linkedin,
  .github {
    width: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-last-column > p {
    font-size: 14px;
  }
  .footer-second-column > p {
    font-size: 14px;
  }
  .logo {
    width: 180px;
  }
  .mobile,
  .whats,
  .linkedin,
  .github {
    width: 30px;
  }
}

@media screen and (max-width: 900px) {
  .footer-height {
    height: 50vh;
  }
  .footer-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40vh;
  }
  .footer-first2,
  .footer-second2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  .logo {
    width: 170px;
  }
  .remove-format-footer {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }
  .mobile,
  .whats,
  .linkedin,
  .github {
    width: 30px;
  }
  .footer-first-column {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .footer-height {
    height: 90vh;
  }
  .footer-position {
    height: 60vh;
    padding: 20px 0;
    margin-bottom: 0px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .logo {
    width: 165px;
  }
}
