.page-height {
  height: 100vh;
}

.h4 {
  text-align: center;
  font-size: 60px;
  color: #f4b510;
  padding: 70px 0;
  margin: 0;
  padding-bottom: 0;
  letter-spacing: 3px;
}

h5 {
  text-align: center;
  color: white;
  font-size: 60px;
  letter-spacing: 3px;
}

.secondpicture {
  width: 670px;
  height: 650px;
  object-fit: contain;
}

.secondpagetext {
  text-align: center;
}

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

@media screen and (max-width: 2000px) {
  .secondpicture {
    width: 570px;
    height: 550px;
    object-fit: contain;
  }
  h5 {
    font-size: 50px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 1700px) {
  .secondpicture {
    width: 570px;
    height: 550px;
    object-fit: contain;
  }
  h5 {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 1400px) {
  .secondpicture {
    width: 450px;
    height: 450px;
    object-fit: contain;
  }
  h5 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .h4 {
    color: #f4b510;
    padding-top: 75px;
  }
}

@media screen and (max-width: 1100px) {
  .secondpicture {
    width: 380px;
    height: 380px;
    object-fit: contain;
  }
  h5 {
    font-size: 25px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 900px) {
  .second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondpicture {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  h5 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .h4 {
    color: #f4b510;
    padding: 55px 0 30px 0;
  }
}

@media screen and (max-width: 600px) {
  .secondpicture {
    width: 350px;
    height: 350px;
    object-fit: contain;
  }
  h5 {
    font-size: 15px;
    letter-spacing: 3px;
    margin: 40px 0 20px 0;
  }
  .h4 {
    padding: 40px 0 0 0;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .secondpicture {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  .h4 {
    font-size: 40px;
  }
  h5 {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 20px 0;
  }
}
