.page-height {
  height: 100vh;
}

.sixth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  height: 80%;
}

.first2-sixth {
  display: flex;
}

.second2-sixth {
  display: flex;
}

.test2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.product {
  width: 600px;
  object-fit: contain;
  border-radius: 5px;
}

.todo {
  width: 600px;
  object-fit: contain;
  border-radius: 5px;
}

.header-sixth {
  text-align: center;
  font-size: 60px;
  color: #f4b510;
  margin: 0;
  padding-top: 40px;
  letter-spacing: 3px;
  font-weight: 700;
}

.h10 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.sixth-button {
  margin-top: 10px;
  height: 50px;
  width: 130px;
  border-radius: 10px;
  background-color: #f4b510;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 2000px) {
  .product {
    width: 450px;
  }

  .todo {
    width: 450px;
  }
}

@media screen and (max-width: 1400px) {
  .product {
    width: 420px;
  }

  .todo {
    width: 420px;
  }

  .header-sixth {
    font-size: 45px;
  }

  .h10 {
    font-size: 25px;
    font-weight: 700;
  }

  .sixth-button {
    height: 40px;
    width: 130px;
  }
}

@media screen and (max-width: 1100px) {
  .product {
    width: 390px;
  }

  .todo {
    width: 390px;
  }

  .header-sixth {
    font-size: 40px;
  }

  .h10 {
    font-size: 20px;
  }

  .sixth-button {
    height: 35px;
    width: 130px;
  }
}

@media screen and (max-width: 1000px) {
  .product {
    width: 280px;
  }

  .todo {
    width: 280px;
  }

  .header-sixth {
    font-size: 40px;
  }

  .h10 {
    font-size: 20px;
  }

  .sixth-button {
    height: 30px;
    width: 110px;
  }
  .sixth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0;
  }
}

@media screen and (max-width: 700px) {
  .product {
    width: 190px;
  }

  .todo {
    width: 190px;
  }

  .header-sixth {
    font-size: 30px;
  }

  .h10 {
    font-size: 20px;
  }

  .sixth-button {
    height: 30px;
    width: 110px;
  }
  .sixth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .sixth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .test2 {
    margin: 5px 0;
  }
  .sixth-button {
    height: 25px;
    width: 110px;
  }
}
