.footer-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
}

.footer {
  background-color: rgb(12, 11, 11);
  width: 88%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 10px;
}

.footer-first-column {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.footer-second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.footer-second-column > p {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  height: 80%;
  margin: 10px 0;
}
